BasedOnStyle: LLVM 
BreakBeforeBraces: GNU
IndentWidth: 2
UseTab: Never
TabWidth: 2
ContinuationIndentWidth: 2
IndentCaseLabels: true
AlwaysBreakAfterReturnType: None

# EmptyLineAfterAccessModifier: true
# AllowShortFunctionOnASingleLine: None
IndentCaseBlocks: true
AlignAfterOpenBracket: Align
ColumnLimit: 80
# Standard: Cpp03

