# Trying to have most styles match betty
BasedOnStyle: GNU 

# Space around operators (a + b)
SpaceBeforeAssignmentOperators: true
SpaceAroundConditions: true
PointerAlignment: Right
DerivePointerAlignment: flase
Standard: Cpp03

SpaceAfterComma: true
IndentCaseLabels: true

IndentWidth: 4
UseTab: Never
TabWidth: 4
ColumnLimit: 80

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

BreakBeforeBraces: Allman

BraceWrapping:
  AfterControlStatement: true
  AfterFunction: false
  AfterStruct: true
  AfterUnion: true
  AfterEnum: true
  BeforeElse: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

PointerAlignment: Right

SpaceBeforeParens: ControlStatements

SpacesInParentheses: false
SpacesInSquareBrackets: false

IndentCaseLabels: true

BinPackArguments: false
BinPackParameters: false

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

AlignOperands: true

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

SortIncludes: false

IndentPPDirectives: None

DerivePointerAlignment: false

PenaltyBreakBeforeFirstCallParameter: 1000
